/**
 * Print - Makes the layout Print Friendly
 *
 * @package WPFramework
 * @subpackage Media
 */

/* Document Body */
body { width: 650px; background: #fff; color: #000; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-size: 11pt; line-height: 1.5; }

/* No Show - Hide various parts of the theme */
#feedarea, #header, #navigation, #secondary, #footer, #respond, .entry-meta, .navigation-links { display: none; } 

/* Anchor Element (links) */
a:link, a:visited { background: transparent; text-decoration: underline; color: #333; }
a:link:after, a:visited:after { content: " (" attr(href) ") "; font-size: 90%; }

	/* If you're having trouble printing relative links, uncomment and customize this:
	   (note: This is valid CSS3, but it still won't go through the W3C CSS Validator) */
	
	/* a[href^="/"]:after {s
	  content: " (http://www.yourdomain.com" attr(href) ") ";
	} */

/* Headings */
h1, h2, h3, h4, h5, h6 { font-family: Helvetica, Arial, sans-serif; }
 
/* Element Changes */
blockquote { margin: 1.5em; padding: 1em; font-style: italic; font-size: 0.9em; }
code { font: 0.9em "Courier New", Monaco, Courier, monospace; } 
img { float: left; margin: 1.5em 1.5em 1.5em 0; }
a img { border: none; }

/* Table */
table { margin: 1px; text-align:left; }
th { border-bottom: 1px solid #333;  font-weight: bold; }
td { border-bottom: 1px solid #333; }
th, td { padding: 4px 10px 4px 0; }
tfoot { font-style: italic; }
caption { background: #fff; margin-bottom: 2em; text-align: left; }
thead { display: table-header-group; }
tr { page-break-inside: avoid; }